.App {
  text-align: center;
  background-color: #040411;
  color: aqua;
  display: block;

  /* flex-wrap: wrap; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aqua;
}

.App-link {
  color: #fafeff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img{
  border-radius: 50%;
  height: 50px;
  width: 50px;

}
.navbar{
  display: block;
  background-color: rgb(47, 8, 51);
  color: #360000;
  border-radius: 30px;
  padding: 20px;
  
}
.footer
{
  display: block;
  background-color: rgb(47, 8, 51)  ;
  border-radius: 30px;
  padding: 10px;
  color: #fafeff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.imgx{
  display: block;
  flex-wrap: wrap;
  height: 150px;
  width: auto;
  position: relative;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  max-width: 100%;
   max-height:100%;
   padding-left: 10%;

 
}
.container {
  display: grid;
  align-items: center; 
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 }
 
 
 
 .textx {
   font-size: 20px;
 }
 .flex-item{
  /* padding: 20px; */
  width: auto;
  /* height: 80px; */
  background-color: rgb(47, 8, 51);
  /* gap: 10px; */
  border-radius:10px;
  /* flex-basis:  50%;  */
  /* margin: 10px; */
  letter-spacing: 3px;
  cursor: pointer;
  
}
.flex-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ; /* Two columns with equal width */
  grid-gap: 10px;
  /* margin-left: 20%; */
  /* margin-right: 20%; */

  
 }
 
.flex-containers{
  display: flex;
  flex-direction: row;
  width: 200px;
}
.flex-items{
  padding: 20px;
  width:auto;
  /* margin: auto; */
  /* background-color: rgb(47, 8, 51); */
  /* gap: 10px; */
  border-radius:10px;
  /* flex-basis:  50%;  */
  /* margin: 10px; */
  letter-spacing: 3px;
  cursor: pointer;
  
}
.imgwork{
  width: auto;
  height: 250px;
  border-radius: 20px;
}